.title {
    border: 1px solid rgb(12, 12, 11);
    padding: 20px 130px;
    margin-top: 40px;
    border-radius: 4px;
    margin-bottom: 5px;
    font-size: 24px;
    color: rgb(37, 37, 36);
    text-align: center;
}