.group {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    justify-content: center;
  }
  
  .label {
    flex: 0 0 150px;
    text-align: left;
    color: #606266;
  }
  
  .input {
    border: 1px solid #c0c4cc;
    padding: 11px;
    color: #606266;
    border-radius: 3px;
    font-size: 14px;
    color:#606266;
  }

  .form {
    width: 390px;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-direction: column;
    padding: 20px;
  }
  
  .input:focus,
.input:hover,
.input:active {
  outline-color: rgb(228, 188, 27);
  border-width: 3px;
}

.button {
  width: 300px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-size: 18px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  outline: none;
  background-color: #b7820f;
  background-image: linear-gradient(315deg, #d7a819 0%, #4f4a41 74%);
  line-height: 42px;
  padding: 0;
  border: none;
}

.button:hover,
.button:focus {
  background-color: #b7820f;
  background-image: linear-gradient(315deg, #d7a819 0%, #f9efb8 74%);
}