.pagecontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 18px;
    font-weight: 500;
    color: rgb(168, 150, 12);
  
    margin: 50px auto;
    width: 450px;
    padding: 10px;
    border: 1px solid rgb(220, 226, 50);
    border-radius: 10px;
    box-shadow: -1px 1px 34px 4px rgba(171, 178, 185, 1);
    background-color: #eff3ca;
  }