.wrapper {
    display: flex;
    align-items: center;
    gap: 30px;
  }
  
  .link {
    display: inline-block;
    padding: 8px 26px;
    border-radius: 4px;
    text-decoration: none;
    color: #86baf7;
    background-color: #fff;
    outline: 2px solid #86baf7;
    font-weight: 500;
    font-size: 18px;
  }
  
  .link.active {
    background-color: #86baf7;
    background-image: linear-gradient(315deg, #86baf7 0%, #b8d6f9 74%);
    color: #fff;
    outline: 2px solid #fff;
  }