.navbaruser {
  display: flex;
  column-gap: 20px;
  align-items: center;
}

.nameuser {
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  background: linear-gradient(-70deg, rgb(15, 12, 3), #d8830b);
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.button {
  display: flex;
  align-items: center;
  column-gap: 10px;
  padding: 8px 26px;
  border-radius: 4px;
  text-decoration: none;
  color: #d7ac0e;
  background-color: #fff;
  outline: 2px solid #5e4403;
  font-weight: 500;
  font-size: 18px;
  border-style: none;
}